nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: absolute;
}

.search-info-navbar {
  width: 20vw;
  max-width: 40vw;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.2rem;
  margin: 10px auto;
  z-index: 1000;
  padding: 5px;
  background-color: white;
}

.search-input-nav {
  font-size: 1.1rem;
  width: 50vw;
  border: none;
}

.user-icon {
  color: rgb(133, 133, 133);
  position: absolute;
  right: 4vw;
  top: 15px;
  transform: scale(1.2);
}

.user-icon-button {
  border: 0;
  border-radius: 50%;
  width: 2.2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: #005e6c;
  color: white;
}

.user-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.nav-logo-btn {
  background-color: inherit;
  border: 0;
  position: absolute;
  left: 0;
  top: 5px;
}

.nav-logo {
  width: 6rem;
}

@media (max-width: 600px) {
  .search-info-navbar {
    width: 40vw;
    padding: 2px 5px;
  }

  .nav-logo {
    width: 5rem;
  }
}
