.user-sidebar {
  width: 30vw;
  min-height: 100vh;
  background-color: rgb(239, 239, 239);
  z-index: 9999;
  position: fixed;
  right: 0;
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .user-sidebar {
    width: 90vw;
  }
  .model-img {
    border-right: none;
    border-bottom: 2px solid rgb(205, 205, 205);
    width: 90vw;
  }
  .model-description {
    width: 90vw;
  }
}

.show-sidebar {
  transform: translate3d(0vw, 0, 0);
  overflow-x: hidden;
}

.hide-sidebar {
  transform: translate3d(100vw, 0, 0);
  display: hidden;
}

.user-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.log-sign-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1vh;
}

.tab {
  padding: 1px 6px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 3px rgb(239, 239, 239) solid;
}

.active {
  border-bottom: 3px #005e6c solid;
}

.form-btn,
.user-info-btn {
  background-color: #005e6c;
  padding: 4px 16px;
  border: 1px solid rgb(143, 143, 143);
  margin: 10px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05, 1.05);
}

input {
  min-width: 70%;
  max-width: 90%;
  overflow: scroll;
  border: none;
  border-radius: 3px;
}

.close-user-btn {
  border: none;
  margin: 10px;
  color: #005e6c;
}

.user-info-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-panel-container {
  position: relative;
}

.panel {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
}

.active-info {
  transform: translate(0, 0);
}

.info-hidden {
  display: hidden;
  transform: translate(100%, 0);
}

.edit-icon {
  margin-left: 1rem;
  background-color: #005e6c;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 3px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.details-span {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0px;
}

.save-btn {
  width: 50%;
  margin: 1rem auto;
}

.go-back-btn {
  margin-left: 0;
}

.api-msg {
  text-align: center;
}

.comment-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  -moz-box-shadow: 0 0 3px #828282;
  -webkit-box-shadow: 0 0 3px #828282;
  box-shadow: 0 0 3px #828282;
}

.comment-date {
  font-size: 0.7rem;
  color: rgb(123, 123, 123);
}

.comment-link {
  color: inherit;
  text-decoration: none;
}
.comment-top-line {
  display: flex;
  justify-content: space-between;
}
.comment-content {
  padding: 5px 0px;
}
